<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layouts/head') %> 
    <title>Помилка 404</title>
</head>
<body style="margin: 1em; text-align: center;">
    <h3>Помилка 404.</h3>
    <p style="font-size: 5em;">👾</p>
    <p>Сторінка, яку ви намагались відвідати, не існує.</p>
</body>
</html>