<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layouts/head') %> 
    <title>Error 404</title>
</head>
<body style="margin: 1em; text-align: center;">
    <h3>Error 404.</h3>
    <p style="font-size: 5em;">👾</p>
    <p>Page that you attempted to visit doesnt exist.</p>
</body>
</html>