<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layouts/head') %> 
    <title>Error 500</title>
</head>
<body style="margin: 1em; text-align: center;">
    <h3>Error 500.</h3>
    <p style="font-size: 5em;">🌚</p>
    <p>Something went wrong on server.</p>
</body>
</html>