<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layouts/head') %> 
    <title>Storage-seeker</title>
</head>
<body style="margin: 1em;">
    <div style="width: 100%;">
        <% if (userStatus > 0) { %>
            <h3 style="text-align: center;">Welcome, <%= userFirstName %>!</h3>
        <% } %>
        <% if (userStatus === 0) { %>
            <h3 style="text-align: center;">Welcome to Storage-seeker!</h3>
        <% } %>
        <div style="width: 100%; text-align: end;">
            <div style="display: inline-flex;" class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="languageToggle" onClick="location.href='../ua'">
                <label class="form-check-label" for="languageToggle">🇺🇦</label>
            </div>
        </div>

    </div>
    <% if (userStatus === 0) { %>
        <a href="/en/user/login" class="btn btn-primary" style="width: 100%;">
            Log in
        </a>
        <p></p>
        <a href="/en/user/register" class="btn btn-secondary" style="width: 100%;">
            Sign up
        </a>
    <% } %>
    <% if (userStatus === 1) { %>
        <p>Your registration application is still being processed. Wait until the manager confirms your status</p>
    <% } %>
    <% if (userStatus === 3) { %>
        <a href="/en/admin" class="btn btn-info" style="width: 100%;">
            Employee management
        </a>
        <p></p>
    <% } %>
    <% if (userStatus > 1) { %>
        <a href="/en/search" class="btn btn-primary" style="width: 100%;">
            Search
        </a>
        <p></p>
    <% } %>
    <% if (userStatus > 0) { %>
        <p style="height: 0.5em;"></p>
        <a href="/en/user/logout" class="btn btn-danger" style="width: 100%;">
            Log out
        </a>
    <% } %>
</body>
</html>