<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layouts/head') %> 
    <title>Log in</title>
</head>
<body style="margin: 1em;">
    <form method="POST">
        <%  if (messages.error) {
            const passportMessage = messages.error[0];
            let textMessage = '';
            
            if (passportMessage === '1') {
                textMessage = 'Database error';
            }
            if (passportMessage === '2') {
                textMessage = 'Password is incorrect';
            }
            if (passportMessage === '3') {
                textMessage = 'This email has not been registered yet';
            } %> 
            <div class="alert alert-warning"><%= textMessage %></div> 
        <% } %>
        <div class="input-group mb-3">
          <label for="nameInput" class="input-group-text">E-mail</label>
          <input type="text" class="form-control" name="email">
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text">Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
</body>
</html>