<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layouts/head') %> 
    <title>Not found</title>
</head>
<body style="margin: 1em; text-align: center;">
    <h3>Product wasn't found.</h3>
    <p style="font-size: 5em;">👀</p>
    <p>We have not found a product that matches your query.</p>
    <a href="/en/search" class="btn btn-primary">
        Back to search
    </a>
</body>
</html>