<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/head') %> 
    <title>Помилка 500</title>
</head>
<body style="margin: 1em; text-align: center;">
    <h3>Помилка 500.</h3>
    <p style="font-size: 5em;">🌚</p>
    <p>Якась помилка трапилась на сервері.</p>
    <a href="javascript:history.back()" class="btn btn-primary">
        Назад
    </a>
</body>
</html>