<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/head') %> 
    <title>Storage-seeker</title>
</head>
<body style="margin: 1em;">
    <% if (userStatus > 0) { %>
        <h3>Вітаємо, <%= userFirstName %>!</h3>
    <% } %>
    <% if (userStatus === 0) { %>
        <h3 style="text-align: center;">Вітаємо у Storage-seeker!</h3>
        <a href="/user/login" class="btn btn-primary" style="width: 100%;">
            Увійти
        </a>
        <p></p>
        <a href="/user/register" class="btn btn-secondary" style="width: 100%;">
            Зареєструватись
        </a>
    <% } %>
    <% if (userStatus === 1) { %>
        <p>Ваша заявка на реєстрацію ще в обробці. Очікуйте, поки менеджер не підтвердить ваш статус</p>
    <% } %>
    <% if (userStatus === 3) { %>
        <a href="/admin" class="btn btn-info" style="width: 100%;">
            Керування профілями працівників
        </a>
        <p></p>
    <% } %>
    <% if (userStatus > 1) { %>
        <a href="/search" class="btn btn-primary" style="width: 100%;">
            До пошуку
        </a>
        <p></p>
    <% } %>
    <% if (userStatus > 0) { %>
        <p style="height: 0.5em;"></p>
        <a href="/user/logout" class="btn btn-danger" style="width: 100%;">
            Вийти
        </a>
    <% } %>
</body>
</html>