<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/head') %> 
    <title>햏햣 향햫햟햧햢햣햫</title>
</head>
<body style="margin: 1em; text-align: center;">
    <h3>햑쮏쒫썜 햫햣 향햫햟햧햢햣햫.</h3>
    <p style="font-size: 5em;">游</p>
    <p>햎햦 햫햣 향햫햟햧혣햩햦 혝쮏쒫썜, 혪햨햦햧 쒬뒗얧쮏쒬뒗얧썜 쒫썜걣쮏쩀 향햟햦혝혞.</p>
    <a href="/search" class="btn btn-primary">
        햆 쒬뒗쥃쫧 쮐걤햨혞
    </a>
</body>
</html>