<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/head') %> 
    <title>Реєстрація</title>
</head>
<body style="margin: 1em;">
    <form method="POST">
        <% if (messages.error) { %> 
            <div class="alert alert-warning"><%= messages.error %></div> 
        <% } %>
        <div class="input-group mb-3">
          <label for="nameInput" class="input-group-text">E-mail</label>
          <input type="text" class="form-control" name="email">
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text">Прізвище</label>
          <input type="text" class="form-control" name="last_name">
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text">Ім'я</label>
            <input type="text" class="form-control" name="first_name">
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text">Пароль</label>
            <input type="password" class="form-control" name="password">
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text">Підтвердіть пароль</label>
            <input type="password" class="form-control" name="repeat_password">
        </div>

        <button type="submit" class="btn btn-primary">Зареєструватись</button>
    </form>
</body>
</html>